*{
    padding: 0;
    margin: 0;
}

.home{
 
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center 38%;
        background-size: cover;
        background-position:center ;
        background-size: cover; 
        background: linear-gradient(rgba(78, 69, 69, 0.947) 0% 100%) ,url('../image/slider-02.jpg'); 

 }
.container {
     width: 100%;
     margin: auto;
     display: flex;
 }
 .navbar .container .logo h4{
    color: #FF305B;
    font-size: 30px;
 }

 .navbar {
     background-color: transparent;
     position: fixed;
     left: 0;
     right: 0;



 }

.navbar .logo {
     float: left;
     width: 50%;
     margin-top: 15px;
 
 }
.navbar .logo img {
     width: 150px;
 }

  .navbar .logo .links {
     float: left;
     color: white;
     width: 60%;
     margin-top: 15px;
    
}
 .container .links ul li {

    display: inline-block;
    padding: 20px 10px 0 10px;
 }

.navbar .container .links li a {
     color: white;
     font-size: 20px;
     padding-block: 20px;
     text-transform: capitalize;
     text-decoration: none;
 }

 ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

  .navbar .links li {
     display: inline-block;
     padding: 10px 15px;
     color: white;
 }

  .navbar .container .links a:hover {
     color: #FF305B;
 }

 .clr {
     clear: both;
 }

 /* home */


 .home .text {
     text-align: center;
     padding-top: 200px;
 }

 .home p {
     padding: 7px;
     margin: 5px;
     color: white;
     font-size: 25px;
 }

 .home h1 {
     padding: 7px;
     margin: 5px;
     color:#FF305B;
     font-size: 50px;
     font-family: "Alegreya Sans", sans-serif;;

 }
 .home  .text h4{
     font-size: 26px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 300;
     line-height: 31.2px;
     color: white;

 }
 .home .text h4::after {
     content: "|";
     animation: animation2 6s infinite alternate;
 }

 @keyframes animation2 {
     0% {
         content: "D |";
     }

     3% {
         content: "De |";
     }

     6% {
         content: "Des |";
     }

     9% {
         content: "Desi |";
     }

     12% {
         content: "Desig |";
     }

     15% {
         content: "Design |";
     }

     18% {
         content: "Designe |";
     }

     21% {
         content: "Designer |";
     }

     24% {
         content: "Designe |";
     }

     27% {
         content: "Design |";
     }

     30% {
         content: "Desig |";
     }

     33% {
         content: "Desi |";
     }

     36% {
         content: "Des |";
     }

     39% {
         content: "De |";
     }

     42% {
         content: "D |";
     }

     45% {
         content: "|";
     }

     48% {
         content: "D |";
     }

     51% {
         content: "De |";
     }

     54% {
         content: "Dev |";
     }

     57% {
         content: "Deve |";
     }

     60% {
         content: "Devel |";
     }

     63% {
         content: "Develo |";
     }

     66% {
         content: "Develop |";
     }

     69% {
         content: "Develope |";
     }

     72% {
         content: "Developer |";
     }

     75% {
         content: "Develope |";
     }

     78% {
         content: "Develop |";
     }

     81% {
         content: "Develo |";
     }

     84% {
         content: "Devel |";
     }

     87% {
         content: "Deve |";
     }

     90% {
         content: "Dev |";
     }

     93% {
         content: "De |";
     }

     96% {
         content: "D |";
     }

     99% {
         content: "|";
     }
 } .about {
    padding: 100px 0;
}
.about .page{
    margin-left: 60px;
}
/* ---------- about image ---------- */
.about .about-image {
    border: solid 10px #555555;
    border-radius: 5px;
    float: left;
    width: 30%;
    position: relative;
}

.about .about-image .image {
    transform: translate(5%, 5%);
    overflow: hidden;
}

.about .about-image .image img {
    width: 100%;
    height: 300px;
}

.about .about-image .image .icon {
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(0px, 500px);
    opacity: 0;
    transition: 1s;
}

.about .about-image .image .icon a i {
    color: white;
    padding-left: 20px;
    transform: translate(0px, 200px);
    transition: all 0.5s;

}

.about .about-image .image .icon a i:hover {
    color: #FF305B;
}

.about .about-image .image:hover .icon {
    opacity: 1;
    transform: translate(0px, 0px);
}

/* ---------- about content ---------- */
.about .about-content {
    float: right;
    width: 60%;
}

.about .about-content .about-context {
    border-bottom: #555555 1px dashed;
}

.about .about-content .about-context h2 {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 25px;
    padding: 0 0 0 13px;
    color: #333333;
}

.about .about-content .about-context h2 span {
    color: #FF305B;
}

.about .about-content .about-context p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    margin: 0 0 25px;
    padding: 0 0 25px;
    color: #555555;
}

.about .about-content .about-element p {
    color: #555555;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 16px;
    margin: 0 0 25px;
}

.about .about-content .about-element span {
    color: #333333;
}

.about .about-content .about-element .about-context-left {
    padding-top: 20px;
    float: left;
    width: 50%;
}

.about .about-content .about-element .about-context-right {
    padding-top: 20px;
    float: right;
    width: 50%;
}

/* ---------- about link ---------- */
.about .about-content .about-link a {
    color: white;
    text-decoration: none;
    border: #FF305B solid 1px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    padding: 10px 24px;
    background-color: #FF305B;
    transition: all 0.5s;
}

.about .about-content .about-link a:hover {
    background-color: #EC2403;
}
/* service */
.service{
    width: 100%;
    height: 100vh;
    background-color:#F1F1F1 ;
}
.service .service-text h2{
text-align: center;
text-transform: capitalize;
font-size: 40PX;
padding-top: 60PX;
}
.service .section .one{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.service .section .one-one{
        background-color:#F1F1F1;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 20px;
        width: 20%;
        height: 200px;
        margin-top: 60px;      
}


.service .section .one .one-one:hover{
            background-color: white;
        
    
}
.service .service-text .line1{
    background-color: #FF305B;
    width: 10%;
    height: 0.5px;
    margin-left: 570px;
    justify-content: center;
    display: grid;
    text-align: center;
}
.service .service-text .line3{
    background-color: #FF305B;
        width: 10%;
        height: 0.5px;
        margin-left: 570px;
        justify-content: center;
        display: grid;
        text-align: center;
}
.service .service-text .line2{
    background-color: #FF305B;
    width: 20%;
    height: 0.5px;
    justify-content: center;
    display: grid;
    text-align: center;
    margin-left: 500px;
}

.service .section .one .one-one:hover .icons{
    
            transform: scale(1.5);
            
        }


.service .section .one-one h3{
    font-size: 23px;
    color:#333333;
    margin: 10px 0;
    text-align: center;
    font-weight: 600px;
}
.service .section .one-one p{
    line-height: 25px;
    color: #555555;
    font-size: 16px;
    text-align:center;
    font-weight: 400px;
    
}


.service .section .one .icons{
        font-size: 36px;
        font-weight: 400px;
        color: #ff1744;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-content: center;
    
}
 /* Our Portfolio */
.Portfolio {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.Portfolio .Portfolio-text h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40PX;
    padding-top: 60PX;
}
.Portfolio .Portfolio-text .line1 {
    background-color: #FF305B;
    width: 10%;
    height: 0.5px;
    margin-left: 570px;
    justify-content: center;
    display: grid;
    text-align: center;
}

.Portfolio .Portfolio-text .line3 {
    background-color: #FF305B;
    width: 10%;
    height: 0.5px;
    margin-left: 570px;
    justify-content: center;
    display: grid;
    text-align: center;
}

.Portfolio .Portfolio-text .line2 {
    background-color: #FF305B;
    width: 20%;
    height: 0.5px;
    justify-content: center;
    display: grid;
    text-align: center;
    margin-left: 500px;
}
.Portfolio .btn {
    text-align: center;
    justify-content:space-between;
    width: 100%;
    margin-top: 20px;
    }
    

.Portfolio .btn button{
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
        cursor: pointer;
        border: none;
        color: black;
        background-color: white;
         outline: none;
         margin-left: 20px;

}
.Portfolio .btn button:hover{
   
        color: #ff1744;
            
        }
/* photo */
.porto-imgs {

    position: relative;
}

.porto-img {
    margin-left: 20px;
    width: 30%;
    padding: 7px;
    float: left;
}

.porto-imgs img {
    width: 100%;

}

.inner {
    position: relative;

}

.porto-layer {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;

}

.porto-layer:hover {
    opacity: 1;
}

.portfolio-icon {

    overflow: hidden;

}

.porto-layer .portfolio-icon i {
    bottom: 20px;
    color: #ff305b;
    font-size: 23px;
    position: absolute;
    right: 20px;

}
 .Portfolio .clear-fix{
    clear: both;
}
/* five */
.five{
   background-color: rgb(234, 228, 228);
   width: 100%;
   height: 300px;
   margin-top: 200px;

}
.five {
    text-align: center;

display: flex;

}
.five .one{
    margin-left: 170px;
    margin-top: 80px;
}
.five .one i{
    color: #ff1744;
    font-size: 30px;
}
/* Testimonial */
.Testimonial{
    width: 100%;
    height: 100vh;
}
.Testimonial .Portfolio-text h2{
    text-align: center;
        text-transform: capitalize;
        font-size: 40PX;
        padding-top: 60PX;
}
.Testimonial .Portfolio-text .line1 ,.Testimonial .Portfolio-text .line3 {
    background-color: #FF305B;
        width: 10%;
        height: 0.5px;
        margin-left: 570px;
        justify-content: center;
        display: grid;
        text-align: center;
}
.Testimonial .Portfolio-text .line2{
    background-color: #FF305B;
        width: 20%;
        height: 0.5px;
        justify-content: center;
        display: grid;
        text-align: center;
        margin-left: 500px;
}
.Testimonial .container {
    width: 60%;
    height:200px;
    
    background-color: #EC2403;
}
.person-feedback img{
        border-radius: 50%;
            width: 110px;
            position: relative;
            z-index: 1;
}
.person-feedback {
    padding: 50px;
    background-color: #F1F1F1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 49%;
    align-items: center;
    margin-left: 250px;
    
}

.person-feedback::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 150%;
    background-color: #FF305B;
    top: -60%;
    left: -20%;
    z-index: 0;
    transform: rotate(43deg);
}
.person-feedback .person-info{
    padding-left: 30px;
        display: inline-block;
        width: 75%;
        vertical-align: top;
}
.person-feedback .person-info h3{
    font-size: 26px;
        font-weight: 600;
        color: #333;
}
.person-feedback .person-info a{
    font-size: 15px;
        font-weight: 500;
        line-height: 16.5px;
        color: #777;
        margin: 12px 0;
        display: block;
}
.person-feedback .person-info a i{
    margin-right: 3px;
        font-size: 14px;
}
.person-feedback .person-info p{
    font-weight: 400;
        line-height: 25px;
        color: #555;
        font-style: italic;
        margin-bottom: 20px;
}
 .person-feedback .person-info .stars{
    color: #F1C30D;
 }
 /* blog */
.Blog{
    width: 100%;
    height: 100vh;
    background-color: #e7e4e4;
}
.Blog .blog-text .line1,
.Blog .blog-text .line3 {
    background-color: #FF305B;
    width: 10%;
    height: 0.5px;
    margin-left: 570px;
    justify-content: center;
    display: grid;
    text-align: center;
}

.Blog .blog-text .line2 {
    background-color: #FF305B;
    width: 20%;
    height: 0.5px;
    justify-content: center;
    display: grid;
    text-align: center;
    margin-left: 500px;
}
.Blog .blog-text h2{
text-align: center;
    text-transform: capitalize;
    font-size: 40PX;
    padding-top: 60PX;
}

.parent {
    display: flex;
    justify-content: space-around;
    
}

img {
    width: 100%;
    height: 200px;
}
.Blog .parent .child iframe{
    width: 100%;
    height: 200px;
}

.child {
    width: 30%;
    background-color: white;
   margin-top: 20px;
}

.parent .child h1 {
    text-align: center;
}

.parent .child p {
    align-items: flex-start;
} 
 .parent .child .content .date{
    color: #555555;
    font-size: 16px;
    font-weight: 400px;
    padding-top: 20px;
 }
 .parent .child .content .tittle{
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: black;
 }
 .parent .child .content .tittle:hover{
    color: #ff1744;
 }
 .parent .child .content p{
    color: #555555;
    font-size: 16px;
 }
 .parent .child .content .more{
cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: black;
 }
 .parent .child .content .more:hover {
     color: #ff1744;
 }
 /* contact */
.contact {
width: 100%;
height: 100vh;
}
.contact .contact-text .line1, .contact .contact-text .line3{
background-color: #FF305B;
    width: 10%;
    height: 0.5px;
    margin-left: 570px;
    justify-content: center;
    display: grid;
    text-align: center;
}
.contact .contact-text .line2{
        background-color: #FF305B;
        width: 20%;
        height: 0.5px;
        justify-content: center;
        display: grid;
        text-align: center;
        margin-left: 500px;
}

.contact .contact-text h2{
        text-align: center;
        text-transform: capitalize;
        font-size: 40PX;
        padding-top: 60PX;
}

.contactus {
    width: 44%;
    margin: auto;
}

.contact .input-box {
    padding: 10px 15px;
   
}

.contact input,
.contact textarea {
    margin-top: 2px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid#ccc;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #FF305B;
    outline: none;
}

.contact .input-left {
    float: left;
}

.contact .input-right {
    float: right;
}

.contact .input-left,
.contact .input-right {
    width: 50%;
}
.contactus .clr{
    clear: both;
}


 .contact input[name="name"]{
    width: 60%;
    margin-left: 31px;
 }
 .contact input[name="email"] {
width:100%;
/* margin-right: 60px; */


}

.contact input[name="subject"],
.contact textarea {
    display: block;
    width: 100%;
    margin-left: 17px;
}

.contact input[type="submit"] {
    color: white;
    background-color: #ff1744;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
}
.contact .clr{
    clear: both;
}
/* footer */
.footer{
    background-color: #333333;
    width: 100%;
    height: 200px;
}
.footer .icons{
    font-size: 20px;
    padding-top: 70px;
    text-align: center;
}
.footer .icons i{
    color:white;
}
.footer .text {
text-align: center;
margin-top: 20px;
color: white;
}
.footer .text a{
    text-decoration: none;
    color: #ff1744;
}
